<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="AquaFlaim.User.Support.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<applicationSettings>
		<AquaFlaim.User.Support.Properties.Settings>
   <setting name="GoogleAuthorizationEndpoint" serializeAs="String">
    <value>https://accounts.google.com/o/oauth2/v2/auth</value>
   </setting>
   <setting name="GoogleTokenEndpoint" serializeAs="String">
    <value>https://www.googleapis.com/oauth2/v4/token</value>
   </setting>
   <setting name="GoogleUserInfoEndpoint" serializeAs="String">
    <value>https://www.googleapis.com/oauth2/v3/userinfo</value>
   </setting>
	<setting name="GoogleClientId" serializeAs="String">
		<value>1082481135428-3v6m2fvlhgd12plaplbaah852jv0s9lr.apps.googleusercontent.com</value>
	</setting>
	<setting name="GoogleClientSecret" serializeAs="String">
		<value>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</value>
	</setting>
  </AquaFlaim.User.Support.Properties.Settings>
	</applicationSettings>
	<appSettings>
		<add key="AuthorizationApiBaseAddress" value="http://localhost:5000"/>
		<add key="LogApiBaseAddress" value="http://localhost:5001"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>